*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1{
  color: red;
}

.headerSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(37, 30, 66);
  color: white;
  min-height: 80px;
}

.center ul li{
  list-style: none;
  display: inline-flex;
  margin: 10px
}
.left{
  flex: 4 ;
}
.center{
  flex: 4;
}
.search{
  flex:4;
}
.right{
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.bannerBox img{
  width: 100%;
  margin: 10px 0px;
}

.collectionBox{
  display: flex;
  width: 100%;
  gap:10px;
}

.collectionBox img{
  width: 220px;
  height:220px;
  flex: auto;
}

.collectionSection img {
  width: 100%;
}